/* _variables-cerulean.scss */
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$a-color: #25878E;
$a-focus: #37C9D4;
$a-hover-focus: #1C676C;
$titles: #20777D;
$titles-small: #999999;
$mark: #FCF8E3;
$text-primary: #ffffff;
$text-primary-focus: #178acc;
$text-success: #468847;
$text-success-focus: #356635;
$text-info: #3a87ad;
$text-info-focus: #2d6987;
$text-warning: #c09853;
$text-warning-focus: #a47e3c;
$text-danger: #b94a48;
$text-danger-focus: #953b39;
$bg-primary: #2fa4e7;
$bg-primary-focus: #178acc;
$bg-success: #dff0d8;
$bg-success-focus: #c1e2b3;
$bg-info: #BAE1E4;
$bg-info-focus: #A9EAEF;
$bg-warning: #fcf8e3;
$bg-warning-focus: #f7ecb5;
$bg-danger: #f2dede;
$bg-danger-focus: #e4b9b9;
$btn-primary: #37C9D4;
$btn-primary-focus: #178acc;
$btn-primary-focus-border: #1C676C;
$btn-primary-hover-border: #2998A0;
$btn-primary-active-hover: #25878E;

$btn-info-focus-background: #064F54;

$navbar-inverse: #1C676C;
$navbar-inverse-focus: #28C0CB; /* items selectionnes du menu general */
$navbar-inverse-hover: #20777D; /* items survoles du menu general */
$navbar-default-open-dropdown-menu: #28C0CB;
$navbar-default-border-color: #1995dc;
$mark-background: #ff0;
$mark-bg: #fcf8e3;
$mark-color: #000;
$body-color: #555555;
$body-background: #ffffff;
$dropdown-menu-divider-bg: #e5e5e5;
$dropdownmenu-li-a-color: #333333;

$navbar-default-gradient-start: #1C676C;
$navbar-default-gradient-end: #2EA8B1;
$navbar-default-gradient-60: #25878E;
$navbar-default-gradient-startColorstr: '#ff54b4eb';
$navbar-default-gradient-endColorstr: '#ff1d9ce5';
$navbar-inverse-gradient-start: #2EA8B1;
$navbar-inverse-gradient-60: #25878E;
$navbar-inverse-gradient-end: #1C676C;
$navbar-inverse-gradient-startColorstr: '#ff2EA8B1';
$navbar-inverse-gradient-endColorstr: '#ff1C676C';

$progressbar-success-background-color: #73a839;

$btn-info-gradient-start: #047E87;
$btn-info-gradient-60: #0D7E86;
$btn-info-gradient-end: #016066;
$btn-info-gradient-endColorstr: '#ff016066';
$btn-info-gradient-startColorstr: '#ff047E87';



