/* _variables-cerulean.scss */
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$a-color: #2fa4e7;
$a-focus: #157ab5;
$titles: #317eac;
$titles-small: #999999;
$mark: #FCF8E3;
$text-primary: #2fa4e7;
$text-primary-focus: #178acc;
$text-success: #468847;
$text-success-focus: #356635;
$text-info: #3a87ad;
$text-info-focus: #2d6987;
$text-warning: #c09853;
$text-warning-focus: #a47e3c;
$text-danger: #b94a48;
$text-danger-focus: #953b39;
$bg-primary: #2fa4e7;
$bg-primary-focus: #178acc;
$bg-success: #dff0d8;
$bg-success-focus: #c1e2b3;
$bg-info: #d9edf7;
$bg-info-focus: #afd9ee;
$bg-warning: #fcf8e3;
$bg-warning-focus: #f7ecb5;
$bg-danger: #f2dede;
$bg-danger-focus: #e4b9b9;
$btn-primary: #2fa4e7;
$btn-primary-focus: #178acc;
$btn-primary-focus-border: #105b87;
$btn-primary-hover-border: #1684c2;
$navbar-inverse: #033c73;
$navbar-inverse-focus: #022f5a;
$navbar-inverse-hover: #022F5A;

$mark-background: #ff0;
$mark-bg: #fcf8e3;
$mark-color: #000;
$body-color: #555555;
$body-background: #ffffff;
$dropdown-menu-divider-bg: #e5e5e5;
$dropdownmenu-li-a-color: #333333;

$navbar-default-gradient-start: #54b4eb;
$navbar-default-gradient-end: #1d9ce5;
$navbar-default-gradient-60: #25949A;
$navbar-default-gradient-startColorstr: '#ff54b4eb';
$navbar-default-gradient-endColorstr: '#ff1d9ce5';
$navbar-inverse-gradient-start: #04519b;
$navbar-inverse-gradient-60: #044687;
$navbar-inverse-gradient-end: #033769;
$navbar-inverse-gradient-startColorstr: '#ff04519b';
$navbar-inverse-gradient-endColorstr: '#ff033769';




