
import(rhandsontable)
import(data.table)
import(DAPAR)
#import(sass)
import(webshot)
import(htmlwidgets)
importFrom(shinyWidgets,dropdownButton)
import(DAPARdata)
import(shinyAce)
import(shinyBS)
import(BiocManager)
import(highcharter)
importFrom(shinyjs, info)
importFrom(DT, dataTableOutput,renderDataTable )
import(R.utils)
import(shinythemes)
import(XML)
import(rclipboard)
import(colourpicker)
import(later)
import(shinycssloaders)
import(future)
#import(shinyjqui)
import(shinyTree)
import(colourpicker)
import(promises)
import(sass)
importFrom(tibble, enframe)
importFrom(shiny,
            absolutePanel ,
            actionButton ,
            checkboxGroupInput ,
            checkboxInput,
            column,
            conditionalPanel,
            fileInput,
            fixedPage,
            flowLayout,
            fluidPage,
            headerPanel,
            helpText,
            HTML,
            htmlOutput,
            icon,
            isolate,
            mainPanel,
            makeReactiveBinding,
            navbarPage,
            navlistPanel,
            numericInput,
            observe,
            pageWithSidebar,
            plotOutput,
            radioButtons,
            reactive  ,
            reactiveUI ,
            reactiveValues  ,
            renderPlot  ,
            renderPrint  ,
            renderTable ,
            renderText ,
            renderUI  ,
            runApp  ,
            selectInput  ,
            shinyApp ,
            shinyServer  ,
            shinyUI  ,
            sidebarLayout ,
            sidebarPanel ,
            singleton  ,
            sliderInput  ,
            splitLayout  ,
            submitButton  ,
            tableOutput  ,
            tabPanel  ,
            tag  ,
            textInput  ,
            textOutput ,
            titlePanel  ,
            updateCheckboxGroupInput ,
            updateCheckboxInput ,
            updateNumericInput ,
            updateRadioButtons ,
            updateSelectInput  ,
            updateSliderInput ,
            updateTabsetPanel  ,
            updateTextInput ,
            #validate ,
            wellPanel ,
            withTags 
            )


export("Prostar")
